.messages {
  border: 2px solid black;
  width: 80%;
  height: 40em;
  margin: 0 auto;
}

body {
  padding-top: 100px;
}

h4 {
  text-align: center;
}

.theme {
  background-color: darkgray; 
  color: ivory;
}

.large {
  font-size: 2em;
}